@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <ul>
                <li>@ViewBag.HoTen</li>
                <li>@ViewBag.MSSV</li>
                <li>@ViewData["Nam"]</li>
            </ul>
        </ul>
    </nav>
    <article>
        <h1>Lê Nhật Nguyên</h1>
        <p>------</p>
        <img src="~/img/Anh.jpg" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; nguyễn Đức Thắng - @DateTime.Now.Year</p>
</footer>